<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<!--About area starts-->

<div class="about-area section-padding" id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-12">
              <div class="stack">
                  <img src="images/about/a1.jpg" alt="about image"> <!--edit image-->
              </div>
          </div>
          <div class="col-md-7 col-md-offset-1 col-sm-12">
              <div class="about-right">
                  <h2>Game Developer</h2>
                  <p>I am <span>Prince Patel</span>. I am a simple , creative, enthusiastic and fun-loving person. I always like to create something on my own which is helpful for others.</p>
                  <p>I have 2.5 years of experience in Game Development / Game Programming in Unity. I am intrested in developing more realistic 3D games. </p>


                  <div class="row">
                      <div class="col-sm-6">
                          <ul class="about-list">
                              <li> <span class="title">Name</span> <span class="value">Prince Patel</span> </li>
                              <li> <span class="title">Age</span> <span class="value">22 Years</span> </li>
                              <li> <span class="title">Email</span> <span class="value">mail@princepatel.studio</span> </li>
                          </ul>
                      </div>
                      <div class="col-sm-6">
                          <ul class="about-list">
                              <li> <span class="title">Phone</span> <span class="value">+1 647 802 7812</span> </li>
                              <li> <span class="title">Address</span> <span class="value">Scarborough, ON</span> </li>
                              <li> <span class="title">Hobby</span> <span class="value">Music , Coding</span> </li>
                          </ul>
                      </div>
                  </div>
                  <a href="MyResume.pdf" class="down-btn btn-a" download>Resume</a>

              </div>
          </div>
      </div>
  </div>
</div>

<!--About area ends-->

</body>
<% include partials/script %>
<% include partials/footer %>
</html>