<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<!--Portfolio area starts-->

<div id="portfolio" class="portfolio-area section-padding">
  <div class="portfolio-content">
      <div class="container">
          <div class="row port-items" id="img-filter" style="position: relative; height: 570px;">
              <div class="col-md-4 col-sm-6 col-xs-12 single-port game" style="position: absolute; left: 380px; top: 0px;">
                  <div class="project-item">
                      <a href="images/port/1.jpg" class="zoom1">
                          <!--edit image-->
                          <img src="images/port/1.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>The Upside Down</h4>
                                  <p>The Upside Down is an alternate dimension existing in parallel to the human world. First Person Shooter Game based on story of The Stranger Things.</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port prototype" style="position: absolute; left: 380px; top: 0px;">
                  <div class="project-item">
                      <a href="images/port/2.jpg" class="zoom1">
                          <!--edit image-->
                          <img src="images/port/2.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Sniper Shooter</h4>
                                  <p>Sniper Shooter is a tactical shooter stealth video game built in Unreal Engine 4</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port game" style="position: absolute; left: 380px; top: 0px;">
                  <div class="project-item">
                      <a href="images/port/3.jpg" class="zoom1">
                          <!--edit image-->
                          <img src="images/port/3.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Do Not Shoot Aliens</h4>
                                  <p>You used to shoot aliens in every game. Now you're supposed to avoid shooting them.</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port prototype" style="position: absolute; left: 0px; top: 285px;">
                  <div class="project-item">
                      <a href="images/port/4.jpg" class="zoom1">
                          <!--edit image-->
                          <img src="images/port/4.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>SuperHot</h4>
                                  <p>Where time moves only when you move</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port game" style="position: absolute; left: 380px; top: 285px;">
                  <div class="project-item">
                      <a href="images/port/5.jpg" class="zoom1">
                          <!--edit image-->
                          <img src="images/port/5.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Cubathon</h4>
                                  <p>Infinite Cube Runner Game</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port game" style="position: absolute; left: 760px; top: 285px;">
                  <div class="project-item">
                      <a href="images/port/6.jpg" class="zoom1">
                          <img src="images/port/6.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Box Shooter</h4>
                                  <p>Simple First Person Shooter Game</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port game" style="position: absolute; left: 0px; top: 570px;">
                  <div class="project-item">
                      <a href="images/port/7.jpg" class="zoom1">
                          <img src="images/port/7.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Roller Madness</h4>
                                  <p>3D Fun Game</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port art packaging" style="position: absolute; left: 380px; top: 570px;">
                  <div class="project-item">
                      <a href="images/port/8.jpg" class="zoom1">
                          <img src="images/port/8.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Silver Oak University</h4>
                                  <p>3D Design of Block B, Silver Oak College, Ahmedabad</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 single-port art packaging" style="position: absolute; left: 760px; top: 570px;">
                  <div class="project-item">
                      <a href="images/port/9.jpg" class="zoom1">
                          <img src="images/port/9.jpg" alt="portfolio image"> <!--edit image-->
                          <div class="overlay">
                              <div class="overlay-inner">
                                  <h4>Silver Oak University</h4>
                                  <p>3D Design of Block D, Aditya Silver Oak College, Ahmedabad</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</body>
<!--Portfolio area ends-->
          
<% include partials/script %>
<% include partials/footer %>
</html>