<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<!-- service section -->

<!--Services area starts-->

<div class="services-area section-padding" id="services">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>My <span>Services</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 service">
                <div class="service-box">
                    <span class="after"></span>
                    <span class="before"></span>
                    <div class="service-icon">
                        <img width="100px" height="100px" src="images/services/unity.png">
                    </div>

                    <div class="service-content">
                        <h4>Unity Games</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-box">
                    <span class="after"></span>
                    <span class="before"></span>
                    <div class="service-icon">
                        <img width="100px" height="100px" src="images/services/2d.png">
                    </div>
                    <div class="service-content">
                        <h4>2D Game Development</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-box">
                    <span class="after"></span>
                    <span class="before"></span>
                    <div class="service-icon">
                        <img width="100px" height="100px" src="images/services/3d.png">
                    </div>
                    <div class="service-content">
                        <h4>3D Game Development</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-box">
                    <span class="after"></span>
                    <span class="before"></span>
                    <div class="service-icon">
                        <img width="100px" height="100px" src="images/services/android.png">
                    </div>
                    <div class="service-content">
                        <h4>Android Games</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-box">
                    <span class="after"></span>
                    <span class="before"></span>
                    <div class="service-icon">
                        <img width="100px" height="100px" src="images/services/cross.png">
                    </div>
                    <div class="service-content">
                        <h4>Cross Platform Games</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-box">
                    <span class="after"></span>
                    <span class="before"></span>
                    <div class="service-icon">
                        <img width="100px" height="100px" src="images/services/html.png">
                    </div>
                    <div class="service-content">
                        <h4>WebGL Games</h4>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!--Services area ends-->


<% include partials/script %>
<% include partials/footer %>
</html>